<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materializedatetimepicker.js' %}"></script>
        <script src="{% static 'js/jquery.mask.min.js'%}"></script>
    
        <title>Jogo</title>
    </head> 
<body>
    
    <header>
        {% block nav %}
            <nav style="background: linear-gradient(60deg,#ff1313,#532828);">
                <div class=" z-depth-2 nav-wrapper" >
                    <a href="#!" class="brand-logo center">{{nome_pagina}}</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        {% endblock %}
    </header>


    {% block conteudo %}
    {% endblock conteudo %}

    <footer style="background: linear-gradient(60deg,#ff1313,#532828);" class="page-footer red ">
        <div class="footer-copyright ">
          
        </div>
    </footer>
    
    
    <script>

    $(document).ready(function(){
        $('select').formSelect();
        $('.tabs').tabs();
        $(".dropdown-trigger").dropdown();
        $('.sidenav').sidenav();
        $('.modal').modal();
        $('.tap-target').tapTarget();
        $('.tooltipped').tooltip({delay: 50});
        
            
    });

    </script>
    
    {% block scripts %}

    

    {% endblock %}

</body>
</html>