{%extends "base.html"%}
{% load materializecss %}
{%block conteudo%}


<main class="container">
    <form method="POST">
        {% csrf_token %}
        
        {{formJogo|materializecss}}
        <div id="element"></div>
        <div class="row">
            <div class="col s2 offset-s5">
               

                <button  type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">sports_bar</i></button>
                
            </div>
        </div>
    </form>
</main>
<script>
    $(document).ready(function(){   
        $("#id_qtd_jogadores").change(function() {                
            var numero = $("#id_qtd_jogadores").val();
            x=0
            var element = document.getElementById('element');
            element.innerHTML =''
            while (x<numero){
                x++              
                element.innerHTML +=      
                '\
                <input placeholder="Nome" name="Jogador[]" required type="text" >\
                <label for="first_name">Name</label>'
            }
        
        });
    });    
</script>
 
{%endblock conteudo%}