{%extends "base.html"%}
{% load materializecss %}

{% block nav %}
    <nav>
        <div class=" z-depth-2 red nav-wrapper" style="background: linear-gradient(60deg,#ff1313,#532828);">
            <a href="#!" class="brand-logo center"><i class="material-icons">emoji_events</i>{{nome_pagina}}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a 
                   href="{% url 'cadastrar_jogo' %}">
                    <i class="material-icons right">sports_esports</i>
                    NOVO JOGO
                </a></li>
            </ul>
        
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a 
             href="{% url 'cadastrar_jogo' %}">
            <i class="material-icons right">sports_esports</i>
            NOVO JOGO
        </a></li>
    </ul>
{% endblock %}
    

{%block conteudo%}


<main>
    <div class=" row margin" >
        <div class="col s12 m8 offset-m2">
            <!-- <div class="red"> -->
            <table class=" tabela black-text z-depth-5 centered responsive-table">
                        <thead>
                            <tr>
                                <th>COLOCADO</th>
                                <th>NOME</th>
                                <th>PONTUAÇÃO</th>
                                <th>CERTIFICADO</th>
                            </tr>
                        </thead>

                    {%for jogador in listUsuarios%}
                        <tbody>
                            {% if jogador.pontuacao == vencedor.pontuacao%}
                                {% if jogador.pontuacao > 0 %}
                                    <tr style="background: linear-gradient(50deg,#8fc58a59,#02680b7c);" >
                                        <td>VENCEDOR</td>
                                        <td>{{jogador.nome_completo}}</td>
                                        <td>{{jogador.pontuacao}}</td>
                                        <td>  
                                            <a href="{% url 'certificado' jogador.id  idjogo %}" class="btn-floating btn-large waves-effect waves-light black pulse"><i class="material-icons">picture_as_pdf</i></a>
                                        </td>
                                    </tr>
                                {%else%}
                                <tr style="background: linear-gradient(50deg,#8fc58a59,#02680b7c);" >
                                    <td>VENCEDOR</td>
                                    <td>{{jogador.nome_completo}}</td>
                                    <td>{{jogador.pontuacao}}</td>
                                    <td>  
                                        <a class="btn-floating disabled btn-large waves-effect waves-light black pulse"><i class="material-icons">picture_as_pdf</i></a>
                                    </td>
                                </tr>
                                {%endif%}

                            {% else %}
                                <tr>
                                    <td>PERDEDOR</td>
                                    <td>{{jogador.nome_completo}}</td>
                                    <td>{{jogador.pontuacao}}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    {%endfor%}
                  </table>
                 
            </div>
        </div>
    </div>
    
    

</main>   
<script>

    
    $(document).ready(function(){
        
        animateCSS('.tabela ', 'bounceInDown');
        
    });   

    const animateCSS = (element, animation, prefix = 'animate__') =>
    // We create a Promise and return it
    new Promise((resolve, reject) => {
        const animationName = `${prefix}${animation}`;
        const node = document.querySelector(element);

        node.classList.add(`${prefix}animated`, animationName);

        // When the animation ends, we clean the classes and resolve the Promise
        function handleAnimationEnd(event) {
        event.stopPropagation();
        node.classList.remove(`${prefix}animated`, animationName);
        resolve('Animation ended');
        }

        node.addEventListener('animationend', handleAnimationEnd, {once: true});
    }); 
</script>   
 
{%endblock conteudo%}