{%extends "base.html"%}
{% load materializecss %}

{% block nav %}
    <nav>
        <div class=" z-depth-2 red nav-wrapper" style="background: linear-gradient(60deg,#ff1313,#532828);">
            <a href="#!" class="brand-logo center"><i class="material-icons">emoji_events</i>{{nome_pagina}}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a 
                   href="{% url 'cadastrar_jogo' %}">
                    <i class="material-icons right">sports_esports</i>
                    NOVO JOGO
                </a></li>
            </ul>
        
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a 
             href="{% url 'cadastrar_jogo' %}">
            <i class="material-icons right">sports_esports</i>
            NOVO JOGO
        </a></li>
    </ul>
{% endblock %}
    

{%block conteudo%}


<main>
    <div class=" row container margin" >
        <div class="col s12">
            <!-- <div class="red"> -->
            <table class=" black-text z-depth-5 centered responsive-table">
                        <thead>
                            <tr>
                                <th>COLOCADO</th>
                                <th>NOME</th>
                                <th>PONTUAÇÃO</th>
                                <th>CERTIFICADO</th>
                            </tr>
                        </thead>

                    {%for jogador in listUsuarios%}
                        <tbody>
                            {% if jogador == vencedor%}
                                <tr style="background: linear-gradient(50deg,#8fc58a59,#02680b7c);" >
                                    <td>VENCEDOR</td>
                                    <td>{{jogador.nome_completo}}</td>
                                    <td>{{jogador.pontuacao}}</td>
                                    <td>  
                                        <a class="btn-floating btn-large waves-effect waves-light black pulse"><i class="material-icons">picture_as_pdf</i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>PERDEDOR</td>
                                    <td>{{jogador.nome_completo}}</td>
                                    <td>{{jogador.pontuacao}}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    {%endfor%}
                  </table>
                 
            </div>
        </div>
    </div>
    
    

</main>   
    
 
{%endblock conteudo%}