{%extends "base.html"%}
{% load materializecss %}
{%block conteudo%}

<main>
    <div class=" row container margin">
        <div class="col s6 offset-s3">
            <div class="card-panel teal">
                <div method="GET" id="gerar-frase" class="center">
            
                </div>  

                <button method="POST" class=" center btn waves-effect waves-light left" onclick="functionfeito(2)">feito
                    <i class="material-icons right">send</i>
                </button>  
                <button method="POST" class=" center btn waves-effect waves-light right" onclick="functionfeito(1)">proximo
                    <i class="material-icons right">send</i>
                </button>
            
            </div>
            <button class=" center btn waves-effect waves-light centered" onclick="myFunction()">DESAFIO
                <i class="material-icons right">send</i>
            </button>
           

        </div>
    </div>
    
    

</main>

<script>
    n = 0 
    function functionfeito(ponto){
        const listJogadores = []
        {%for q in listUsuarios%}
            listJogadores.push('{{q}}')
        {%endfor%}

        var ultimo = listJogadores[listJogadores.length - 1];
        var id_jogo = "{{id_jogo}}";
        var ponto = ponto
        var nivel = "{{objJogo.nivel_jogo}}";

        if (listJogadores[n] == ultimo){
            var user = listJogadores[n]
            n=0
        }
        else{
            var user = listJogadores[n]
            n = n + 1
        }
        $.ajax({
            // o que vai ser enviado ao servidor/ views
            url:'/gerar_frase/',
            data: {
                'nivel': nivel,
                'ponto': ponto,
                'user' : user,
                'id_jogo': id_jogo,
            },
            dataType: 'json',
            
            // resposta que vai receber do servidor
            success: function(carta) {
                console.log(carta)
                var div = document.getElementById('gerar-frase');
                div.innerHTML =  "<p>"+carta.jogador+"</p>";
                div.innerHTML +=  "<p>"+carta.Frase+"</p>";
                div.innerHTML +=  "<p>"+"ou"+"</p>";
                div.innerHTML +=  "<p>"+"beba:  "+carta.doses+" </p>";     
            }
        });


    }

    function myFunction(){
        var nivel = "{{objJogo.nivel_jogo }}";
        var id_jogo = "{{id_jogo}}";  
            
        $.ajax({
            // o que vai ser enviado ao servidor/ views
            url:'/gerar_frase/',
            data: {
                'nivel': nivel,
                'id_jogo': id_jogo,
            },
            dataType: 'json',
            
            // resposta que vai receber do servidor
            success: function(carta) {
                console.log(carta)
                var div = document.getElementById('gerar-frase');
                div.innerHTML =  "<p>"+carta.jogador+"</p>";
                div.innerHTML +=  "<p>"+carta.Frase+"</p>";
                div.innerHTML +=  "<p>"+"ou"+"</p>";
                div.innerHTML +=  "<p>"+"beba:  "+carta.doses+" </p>";     
            }
            
           
        });
        

    }

        
  </script>
 
{%endblock conteudo%}