{%extends "base.html"%}
{% load materializecss %}

{% block nav %}
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Vão arregar?</h4>
            <p>Se sairem serão um arregão</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat">NÃO</a>
            <a href="{% url 'desistir' objJogo.id %}" class="modal-close waves-effect waves-green btn-flat">SIM</a>
        </div>
       </div>
    <nav>
        <div class=" z-depth-2 red nav-wrapper">
            <a href="#!" class="brand-logo center">{{nome_pagina}}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a 
                    data-target="modal1" class="modal-trigger">
                    <i class="material-icons right">sports_kabaddi</i>
                    DESISTIR
                </a></li>
            </ul>
        
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a 
            data-target="modal1" class="modal-trigger">
            <i class="material-icons right">sports_kabaddi</i>
            DESISTIR
        </a></li>
    </ul>
{% endblock %}

{%block conteudo%}

<main>
    <div class=" row container margin">
        <div class="col s6 offset-s3">
            <div class="card-panel teal" style="background: linear-gradient(60deg,#c8e280,#e53935);">

                <div method="GET" id="gerar-frase" class="center">

                </div>  

                <button method="POST" id="id_feito"class=" center btn waves-effect waves-light left" onclick="functionfeito(2)">DESAFIO
                    <i class="material-icons right">local_fire_department</i>
                </button>  
                <button method="POST" id="id_passa" class=" center btn waves-effect waves-light right"onclick="functionfeito(1)">BEBEU
                    <i class="material-icons right">sports_bar</i>
                </button>
            
            </div>
        </div>
    </div>


    

</main>

<script>    
    var nivel = "{{objJogo.nivel_jogo}}";
    var id_jogo = "{{objJogo.id}}";
    const listJogadores = []
    {%for q in listUsuarios%}
        listJogadores.push('{{q.id}}')
    {%endfor%}
    var ultimo = listJogadores.length - 1;
    n = 0
    jogadas = 0
    limite_rodada = 2 * '{{objJogo.qtd_jogadores}}' 
    $(document).ready(function(){  
        getCarta(listJogadores[n]);        
    });    
    function getCarta(jogador){
        $.ajax({
            // o que vai ser enviado ao servidor/ views
            url:'/gerar_frase/',
            data: {
                'nivel': nivel,                
                'user' : jogador,
                'id_jogo': id_jogo,
            },
            dataType: 'json',
            
            // resposta que vai receber do servidor
            success: function(carta) {
                console.log(carta)
                var div = document.getElementById('gerar-frase');
                div.innerHTML =  "<p>"+carta.jogador+"</p>";
                div.innerHTML +=  "<p>"+carta.Frase+"</p>";
                div.innerHTML +=  "<p>"+"ou"+"</p>";
                div.innerHTML +=  "<p>"+"beba:  "+carta.doses+" </p>";
                $("#id_feito").attr("onclick","pontuacao(2,"+jogador+")");
                $("#id_passa").attr("onclick","pontuacao(1,"+jogador+")");       
            }
        });
    }
    function pontuacao(ponto,jogador){
        $.ajax({
            // o que vai ser enviado ao servidor/ views
            url:'/gravar_ponto/',
            data: {
                'ponto': ponto,                
                'jogador' : jogador,                
            },
            dataType: 'json',
            
            // resposta que vai receber do servidor
            success: function(carta) {
                console.log(carta)
                if (ultimo == n){
                    n = 0;
                }
                else{
                    n += 1
                }
                jogadas +=1 
                if(limite_rodada <= jogadas){
                    jogadas = 0;
                    var div = document.getElementById('gerar-frase');
                    div.innerHTML =  "<p>"+carta.regra_casa+"</p>";
                    $("#id_feito").attr("onclick","getCarta(listJogadores[n])");
                    $("#id_passa").attr("onclick","getCarta(listJogadores[n])");
                }
                else{
                    getCarta(listJogadores[n]); 
                }
                
                                        
            }
            
        });
    }

        
  </script>
 
{%endblock conteudo%}